*.7z
Army.md
*.zip
.tkproj
.vscode
Builds/
Challenge Mode v1.5.1/
Challenge Mode v1.6.0/
Challenge Mode v1.6.1/
Challenge Mode v1.4.1/
stuff.txt
hashes.csv
restbl.bat
1.2.1 Mals/
1.4.2 Mals/
Compatibility Patches/
AI Workfolder/
__pycache__/